<ion-content>
  <ion-grid>

    <ion-row>
      <ion-col>
        <h1>{{ 'are-you-sure' | translate }}</h1>
      </ion-col>
    </ion-row>

    <ion-row class="ion-padding-top">
      <ion-col size="10" offset="1" class="first-button">
        <did-button
          [title]="'confirm' | translate"
          textcolor="#ffffff"
          [bgcolor]="'#FF4D4D'"
          [bordercolor]="'#FF4D4D'"
          [padding]="'3px'"
          [shadow]="false"
          (click)="deleteFriend()"
        >
        </did-button>
      </ion-col>
    </ion-row>

    <ion-row class="ion-padding-bottom">
      <ion-col size="10" offset="1">
        <did-button
          [title]="'go-back' | translate"
          textcolor="#6E7379"
          [bgcolor]="'#ffffff'"
          [padding]="'3px'"
          [bordercolor]="'#6E7379'"
          [shadow]="false"
          (click)="goBack()"
        >
        </did-button>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
