<ion-content>
  <ion-grid>

    <ion-row>
      <ion-col>
        <h1>Are you sure?</h1>
      </ion-col>
    </ion-row>

    <ion-row padding-top>
      <ion-col size="10" offset="1" class="first-button">
        <did-button
          title="Confirm"
          textcolor="#ffffff"
          [bgcolor]="'#FF4D4D'"
          [bordercolor]="'#FF4D4D'"
          [padding]="'2px'"
          [shadow]="false"
          (click)="deleteFriend()"
        >
        </did-button>
      </ion-col>
    </ion-row>

    <ion-row padding-bottom>
      <ion-col size="10" offset="1">
        <did-button
          title="Go Back"
          textcolor="#6E7379"
          [bgcolor]="'#ffffff'"
          [padding]="'2px'"
          [bordercolor]="'#6E7379'"
          [shadow]="false"
          (click)="goBack()"
        >
        </did-button>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
