<ion-header>
  <ion-toolbar mode="ios">
    <ion-title>Add Friend</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeApp()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-grid class="container" no-padding no-margin>

  <div>
    <div class="profile-container" padding-bottom>
      <div class="profile-picture">
        <img  src="assets/images/Guy_Face.svg">
        <!-- <img src="assets/images/DefaultProfileWoman.svg"> -->
      </div>

      <ion-grid>
        <ion-row>
          <!-- <ion-col class="profile-name"><h1>{{ didName }}</h1></ion-col> -->
          <ion-col class="profile-name"  no-padding><h1>Martin Knight</h1></ion-col>
        </ion-row>

        <ion-row padding>
          <ion-col class="message">
            <p>Do you want to add this <br> sser to your friend's list?</p>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid padding>
        <ion-row>
          <ion-col size="10" offset="1">
            <did-button
              title="Add Friend"
              [bgcolor]="'#3880ff'"
              [bordercolor]="'#3880ff'"
              shadow="true"
            >
            </did-button>
          </ion-col>
        </ion-row>
        <ion-row class="last-btn">
          <ion-col size="10" offset="1">
            <did-button
              title="Cancel Request"
              textcolor="'black'"
              [bgcolor]="'white'"
              [bordercolor]="'black'"
              shadow="true"
            >
            </did-button>
          </ion-col>
        </ion-row>
      </ion-grid>

    </div>
  </div>

</ion-grid>
