<ion-grid [class.darkContainer]="theme.darkMode">
  <ion-row (click)="friendsService.shareContact(friend)">
    <ion-label>{{ 'share' | translate }}</ion-label>
    <ion-img *ngIf="!theme.darkMode" src="/assets/images/share.svg"></ion-img>
    <ion-img *ngIf="theme.darkMode" src="/assets/images/darkmode/share.svg"></ion-img>
  </ion-row>

  <ion-row (click)="friendsService.toggleFav(friend)">
    <ion-label class="favorite">{{ 'favorite' | translate }}</ion-label>
    <ion-img *ngIf="friend.isFav" src="/assets/images/favorite.svg"></ion-img>
    <ion-img *ngIf="!theme.darkMode && !friend.isFav" src="/assets/images/unfavorite.svg"></ion-img>
    <ion-img *ngIf="theme.darkMode && !friend.isFav" src="/assets/images/darkmode/unfavorite.svg"></ion-img>
  </ion-row>

  <ion-row (click)="deleteFriend()">
    <ion-label class="delete">{{ 'delete' | translate }}</ion-label>
    <ion-img src="/assets/images/delete.svg"></ion-img>
  </ion-row>
</ion-grid>

