<ion-grid>
  <ion-row>
    <ion-label>Share</ion-label>
    <ion-img src="/assets/images/share.svg"></ion-img>
  </ion-row>

  <ion-row (click)="friendsService.changeFav(friend)">
    <ion-label class="favorite">Favorite</ion-label>
    <ion-img *ngIf="friend.isFav" src="/assets/images/favorite.svg"></ion-img>
    <ion-img *ngIf="!friend.isFav" src="/assets/images/unfavorite.svg"></ion-img>
  </ion-row>

  <ion-row (click)="deleteFriend()">
    <ion-label class="delete">Delete</ion-label>
    <ion-img src="/assets/images/delete.svg"></ion-img>
  </ion-row>
</ion-grid>

