<ion-header>
  <ion-toolbar mode="ios">
    <ion-title>My Friends</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeApp()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="testScan()">Test scan request</ion-button>
  <ion-grid>
    <ion-list color="dark">

      <ion-list-header *ngIf="!searchOn" color="dark">
        <h1>Friends</h1>
        <span (click)="toggleSearch()">
          <ion-icon name="search"></ion-icon>
        </span>
      </ion-list-header>

      <ion-list-header class="searchContainer" *ngIf="searchOn">
        <ion-searchbar
          color="secondary"
          placeholder="Search Friend.."
          [(ngModel)]="friend"
          (ngModelChange)="filterFriends($event)"
        >
        </ion-searchbar>
        <span (click)="toggleSearch()">
          <ion-icon name="eye-off"></ion-icon>
        </span>
      </ion-list-header>

      <ion-item *ngIf="!friendsLoaded" text-center color="dark">
        <ion-label>
          <ion-spinner name="bubbles"></ion-spinner>
        </ion-label>
      </ion-item>

      <div *ngIf="friendsLoaded">
        <ion-item
          *ngFor="let friend of filteredFriends"
          color="dark"
          (click)="onClick(friend)"
        >
          <ion-avatar>
            <ion-img *ngIf="friend.imageUrl" [src]="friend.imageUrl"></ion-img>
            <ion-img *ngIf="!friend.imageUrl" src="../assets/icon/ela-logo.jpg"></ion-img>
          </ion-avatar>
          <ion-label>
            <h4>{{ friend.name }}</h4>
            <p>
              {{ friend.bio }}
            <p>
          </ion-label>
        </ion-item>
      </div>


    </ion-list>

    <br><br><br><br><br>

    <ion-footer>
      <ion-button color="primary">View Profile</ion-button>
      <ion-button color="primary">Delete Friend</ion-button>
    </ion-footer>
  </ion-grid>
</ion-content>

<!-- -->
