.container {
  min-height: 100%;
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  padding-right: 0;
  padding-left: 0;

  ion-list {
    margin-top: 25px;
    padding-top: 0;
    padding-bottom: 0;

    ion-item {
      border-bottom: solid 1px rgb(216, 216, 216);

      ion-col {
        display: flex;
        align-items: center;

        ion-avatar {
          height: 55px;
          width: 55px;
        }

        ion-label {
          margin-left: 10px;

          h4 {
            font-size: 18px;
            font-weight: 600;
            padding: 0;
            margin: 0;
          }

          p {
            font-size: 12px !important;
            font-weight: 500;
            color: #3880ff;
            padding: 0;
            margin: 0;
          }
        }

        ion-icon {
          font-size: 55px;
        }
      }
    }
  }
}
