ion-col {
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    margin-top: 19px;
    margin-bottom: 0;
    font-size: 22px;
    font-weight: 700;
    color: #f04141;
    line-height: 30px;
  }

  p {
    font-size: 14px !important;
    font-weight: 600;
    line-height: 20px;
  }
}
