<ion-content>
  <ion-grid>

    <ion-row class="ion-padding-top">
      <ion-col class="ion-no-padding">
        <img src="assets/images/Local_Data_Delete_Icon.svg">
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-text-center ion-padding-horizontal">
        <h1>{{ 'delete-header' | translate }}</h1>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-text-center ion-padding-bottom ion-padding-horizontal">
        <p>{{ 'delete-message' | translate }}</p>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
