<ion-content>
    <ion-grid>

      <ion-row padding-top>
        <ion-col no-padding>
          <img src="assets/images/Local_Data_Delete_Icon.svg">
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col text-center no-padding>
          <h1>Friend will be <br> deleted from list</h1>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col text-center padding-bottom>
          <p>You can always add the <br> friend again to your list</p>
        </ion-col>
      </ion-row>

    </ion-grid>
  </ion-content>
