<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-button (click)="scanDID()">
        <ion-icon name="qr-scanner"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Add Friend</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeApp()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid padding text-center align-items-center>
    <h1>Scan or Type in DID</h1>
    <div (click)="scanDID()" class="scan-btn" padding>
      <!-- <ion-icon name="qr-scanner"></ion-icon> -->
      <ion-img src="../assets/icon/scan.svg"></ion-img>
    </div>
  </ion-grid>
</ion-content>

<ion-footer padding>
  <!-- <ion-row>
    <ion-label>Type in DID</ion-label>
  </ion-row> -->
  <ion-row color="light">
    <ion-col offset="0.5" size="11" class="text-area">
      <ion-input autosize placeholder="Add did:elastos" [(ngModel)]="didInput"></ion-input>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col offset="0.5" size="11" no-padding>
      <ion-button class="add-btn" color="primary" (click)="addFriend()">Add DID</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
