<ion-content>
  <ion-grid class="container ion-no-padding ion-no-margin">
    <div>

      <div class="img-container">
        <div class="logo" (click)="scanDID()">
          <img src="../assets/icon/scan.svg">
        </div>
      </div>

      <ion-grid>

        <div class="center ion-padding-bottom">
          <ion-row class="ion-no-margin">
            <ion-col><h2 class="first-title">Open QR Scanner</h2></ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-no-padding"><h2 class="second-title">or enter a DID below</h2></ion-col>
          </ion-row>
        </div>

        <div class="bottom ion-padding-top">
          <ion-row color="light">
            <ion-col offset="1.5" size="9" class="text-area">
              <ion-input #input autosize placeholder="   Enter DID" [(ngModel)]="didInput"></ion-input>
            </ion-col>
           <!--  <ion-col size="1.5" class="clipboard" (click)="pasteDID()">
              <ion-icon color="dark" name="clipboard"></ion-icon>
            </ion-col> -->
          </ion-row>
          <ion-row>
            <ion-col offset="1.5" size="9">
              <did-button
                *ngIf="didResolved"
                (click)="addFriend()"
                title="Add Friend"
                textcolor="#ffffff"
                [bgcolor]="'#3ABAFB'"
                [bordercolor]="'#3ABAFB'"
                [shadow]="false"
              >
              </did-button>
              <ion-button
                *ngIf="!didResolved"
                class="add-btn"
                color="success"
                mode="ios">
                <ion-spinner name="dots"></ion-spinner>
              </ion-button>
            </ion-col>
          </ion-row>
        </div>

      </ion-grid>

    </div>
  </ion-grid>
</ion-content>
