.container {
  background: linear-gradient(to bottom, #BFFFD9 0%, #9BDEFF 100%);
  min-height: 100%;
  padding-top: 25px;

  div {
    background: white;

    .img-container {
      padding-top: 20px;
      background: white;

      .logo {
        background: white;
        height:24vw;
        width:24vw;
        margin: 0 auto;
        border-radius: 50%;
        box-shadow: 3px 3px 8px rgba(100,100,100,0.2);
        overflow:hidden;
      }
    }

    ion-grid {
      padding: 12px;

      .center {
        ion-col {
          display: flex;
          justify-content: center;
          align-items: center;

          h2 {
            margin: 0;
            font-size: 19px;
            font-weight: 700;
          }

          .first-title {
            color: #FB599D;
          }

          .second-title {
            color: #3ABAFB;
          }
        }
      }

      .bottom {
        ion-row {
          display: flex;
          justify-content: center;
          padding: 8px 0;

          .text-area {
            border-radius: 30px;
            background: #FAFAFA;
          }

          .add-btn {
            width: 100%;
            height: 50px;
            font-weight: 900;
            --border-radius: 20px;
          }
        }
      }
    }
  }
}
