ion-grid {
  min-height: 100%;
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);

  h1 {
    font-weight: 700;
    margin: 40px 0 0;
    color: rgb(59, 59, 59);
  }

  .scan-btn {
    display: flex;
    justify-content: center;
    margin-top: 50px;

    /* ion-icon {
      font-size: 300px;
      color: rgb(59, 59, 59);
    } */

    ion-img {
      transform: scale(1.75);
    }
  }
}

ion-footer {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  height: 22%;

  ion-row {
    padding: 5px 0;
    justify-content: center;

   /*  ion-label {
      font-size: 26px;
      font-weight: 600;
    } */

    .text-area {
      border-radius: 20px;
      background: white;
    }

    .add-btn {
      width: 100%;
      height: 50px;
      font-weight: 900;
      --border-radius: 20px;
    }
  }
}
