<ion-content>
  <ion-grid class="container" [class.darkContainer]="theme.darkMode">
    <div class="header">
      <ion-img src="/assets/images/default-contact.svg"></ion-img>
      <ion-title mode='md' *ngIf="friend.name">
        {{ friend.name }}
      </ion-title>
      <ion-title mode='md' *ngIf="!friend.name">
        {{ friend.id.slice(4,16) }}...{{ friend.id.slice(40,46) }}
      </ion-title>
      <p>{{ friend.note }}</p>
      <ion-row *ngIf="!theme.darkMode" class="btn-row">
        <ion-img src="/assets/buttons/scan.svg" (click)="friendsService.openScanner()"></ion-img>
        <ion-img src="/assets/buttons/edit.svg" (click)="friendsService.showCustomization(friend)"></ion-img>
        <ion-img src="/assets/buttons/options.svg" (click)="friendsService.showOptions($event, friend)"></ion-img>
      </ion-row>
      <ion-row *ngIf="theme.darkMode" class="btn-row">
        <ion-img src="/assets/buttons/darkmode/scan.svg" (click)="friendsService.openScanner()"></ion-img>
        <ion-img src="/assets/buttons/darkmode/edit.svg" (click)="friendsService.showCustomization(friend)"></ion-img>
        <ion-img src="/assets/buttons/darkmode/options.svg" (click)="friendsService.showOptions($event, friend)"></ion-img>
      </ion-row>
    </div>

    <ion-segment>
      <ion-segment-button [class.active]="detailsActive" (click)="detailsActive = true">
        <ion-label>{{ 'details' | translate }}</ion-label>
      </ion-segment-button>
      <ion-segment-button [class.active]="!detailsActive" (click)="detailsActive = false">
        <ion-label>{{ 'apps' | translate }}</ion-label>
      </ion-segment-button>
    </ion-segment>

    <ion-list *ngIf="detailsActive">
      <ion-row class="profile-data" *ngIf="friend.nickname">
        <ion-col>
          <h5>{{ 'nickname' | translate }}</h5>
        </ion-col>
        <ion-col class="cred">
          <h4>{{ friend.nickname }}</h4>
        </ion-col>
      </ion-row>

      <ion-row class="profile-data" *ngIf="friend.country">
        <ion-col>
          <h5>{{ 'country' | translate }}</h5>
        </ion-col>
        <ion-col class="cred">
          <h4>{{ friend.country }}</h4>
        </ion-col>
      </ion-row>

      <ion-row class="profile-data" *ngIf="friend.birthDate">
        <ion-col>
          <h5>{{ 'birth' | translate }}</h5>
        </ion-col>
        <ion-col class="cred">
          <h4>{{ fixBirthDate(friend.birthDate) }}</h4>
        </ion-col>
      </ion-row>

      <ion-row class="profile-data" *ngIf="friend.telephone">
        <ion-col>
          <h5>{{ 'telephone' | translate }}</h5>
        </ion-col>
        <ion-col class="cred">
          <h4>{{ friend.telephone }}</h4>
        </ion-col>
      </ion-row>

      <ion-row class="profile-data" *ngIf="friend.email">
        <ion-col>
          <h5>{{ 'email' | translate }}</h5>
        </ion-col>
        <ion-col class="cred">
          <h4>{{ friend.email }}</h4>
        </ion-col>
      </ion-row>

      <ion-row class="profile-data" *ngIf="friend.website">
        <ion-col>
          <h5>{{ 'website' | translate }}</h5>
        </ion-col>
        <ion-col class="cred">
          <h4>{{ friend.website }}</h4>
        </ion-col>
      </ion-row>

      <ion-row class="profile-data" *ngIf="friend.twitter">
        <ion-col>
          <h5>Twitter</h5>
        </ion-col>
        <ion-col class="cred">
          <h4>{{ friend.twitter }}</h4>
        </ion-col>
      </ion-row>

      <ion-row class="profile-data" *ngIf="friend.facebook">
        <ion-col>
          <h5>Facebook</h5>
        </ion-col>
        <ion-col class="cred">
          <h4>{{ friend.facebook }}</h4>
        </ion-col>
      </ion-row>

      <ion-row class="profile-data" *ngIf="friend.telegram">
        <ion-col>
          <h5>Telegram</h5>
        </ion-col>
        <ion-col class="cred">
          <h4>{{ friend.telegram }}</h4>
        </ion-col>
      </ion-row>

      <ion-row class="profile-data">
        <ion-col>
          <h5>{{ 'did' | translate }}</h5>
        </ion-col>
        <ion-col class="cred">
          <h4>
            {{ friend.id.slice(0,25) }} <br>
            {{ friend.id.slice(25,50) }}
          </h4>
        </ion-col>
      </ion-row>
    </ion-list>

    <ion-list *ngIf="!detailsActive && friendsApps.length > 0 && !fetchingApps" class="ion-no-padding">
      <ion-item
        class="app"
        *ngFor="let appInfo of friendsApps"
        color="light"
        mode="md"
        lines="none"
        details="none"
      >
        <ion-grid class="ion-no-padding" >
          <ion-row class="ion-align-items-center">
            <ion-col class="img-col" offset="0.5" size="2.5">
              <ion-avatar>
                <ion-img [src]="appInfo.app ? getAppIcon(appInfo.app.id) : '/assets/icon/elalogo.svg'"></ion-img>
              </ion-avatar>
            </ion-col>
            <ion-col size="5" class="appInfo-col">
              <h4 *ngIf="appInfo.app">{{ appInfo.app.name }}</h4>
              <h4 *ngIf="!appInfo.app">{{ appInfo.packageId }}</h4>
              <p *ngIf="appInfo.action">{{ appInfo.action }}</p>
            </ion-col>
            <ion-col offset="0.5" size="3" class="btn-col">
              <ion-button *ngIf="!appInfo.isInstalled" color="tertiary" (click)="discoverApp(appInfo.packageId)">
                <ion-label>{{ 'discover' | translate }}</ion-label>
              </ion-button>
              <ion-button *ngIf="appInfo.isInstalled && appInfo.app" color="tertiary" (click)="connectApp(appInfo.packageId)">
                <ion-label>{{ 'connect' | translate }}</ion-label>
              </ion-button>
              <ion-button *ngIf="appInfo.isInstalled && !appInfo.app" color="tertiary" (click)="friendsService.startApp(appInfo.packageId)">
                <ion-label>{{ 'open' | translate }}</ion-label>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>

    <!-- Apps Loader -->
    <ion-list *ngIf="!detailsActive && fetchingApps" class="ion-no-padding">
      <ion-item class="ion-padding" lines="none" color="light">
        <ion-grid>
          <ion-row class="ion-text-center">
            <ion-col>
              <ion-spinner name="bubbles" color="primary"></ion-spinner>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>

    <!-- No Apps -->
    <ion-list *ngIf="!detailsActive && friendsApps.length === 0 && !fetchingApps" class="ion-no-padding">
      <ion-item class="app" lines="none" color="light">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-label class="no-apps ion-text-center">
                {{ 'no-apps' | translate }}
              </ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>

  </ion-grid>
</ion-content>
