.container {
  padding: 40px 0;

  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    ion-img {
      width: 84px;
      height: 84px;
    }

    .profile-img {
      border-radius: 100%;
      border: 1px solid #6d74ef;
    }

    ion-title {
      padding-top: 15px;
      padding-bottom: 10px;
      font-size: 22px;
      font-weight: 600;
      line-height: 1.21;
      text-align: center;
    }

    p {
      margin: 0;
      height: 52.5px;
      padding: 0px 60px;
      font-size: 12px;
      font-weight: 500;
      text-align: center;
      overflow: hidden;
    }

    .btn-row {
      padding: 7.5px 30px 30px;

      ion-img {
        margin: 0 7.5px;
        height: 46px;
        width: 46px;
      }
    }
  }

  ion-segment {
    padding: 0px 45px;

    ion-segment-button {
      margin: 0 10px;
      width: 90px;
      height: 22px;
      --border-color: #161740 !important;
      --border-radius: 0;
      --border-style: none;

      ion-label {
        font-size: 16px;
        font-weight: 700;
        line-height: 1.22;
        letter-spacing: 0.45px;
        text-align: left;
        text-transform: none;
        color: #b2b7fa;
      }
    }

    .active {
      border-bottom: 2.7px solid #161740 !important;
      border-radius: 4px;

      ion-label {
        color: #161740;
      }
    }
  }

  ion-list {
    padding-top: 22.5px;
    margin: 0;

    .profile-data {
      padding: 7.5px 30px 7.5px;
      border-bottom: 1px solid #f0f1ff;

      h5, h4 {
        margin: 0;
      }

      h5 {
        font-size: 10px;
        font-weight: 600;
        color: #a0a2c4;
        line-height: 1.27;
      }

      h4 {
        font-size: 13px;
        font-weight: 500;
      }
    }

    .app {
      --padding-start: 0px;
      --inner-padding-end: 0px;

      .img-col {
        display: flex;
        justify-content: center;
        align-items: center;

        ion-avatar {
          width: 52px;
          height: 52px;
          overflow: hidden;
        }
      }

      .appInfo-col {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding-left: 0;


        h4 {
          font-size: 13px;
          font-weight: 600;
          margin: 0;
          line-height: 1.29;
        }

        p {
          font-size: 8px;
          font-weight: 600;
          margin: 0;
          line-height: 1.22;
        }
      }

      .btn-col {
        display: flex;
        justify-content: center;
        align-items: center;

        ion-button {
          --border-radius: 30px;
          --box-shadow: none;
          width: 100%;

          ion-label {
            font-size: 9px;
            font-weight: 700;
            padding: 0;
          }
        }
      }
    }

    .no-apps {
      font-weight: 600;
      font-size: 14px;
    }
  }
}

.darkContainer {
  ion-segment {
    .active {
      border-bottom: 2.7px solid #fdfeff !important;

      ion-label {
        color: #fdfeff;
      }
    }
  }

  ion-list {
    background: #191a2f;

    .profile-data {
      border-bottom: 1px solid #2f305a;

      h5 {
        color: #8485a3;
      }
    }
  }
}
