<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="friends">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Friend Details</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeApp()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="container">

    <ion-card color="light">
      <ion-grid>
        <ion-row align-items-center>
          <ion-col size="3" class="profile-img">
            <ion-avatar>
              <ion-img [src]="friend.imageUrl"></ion-img>
            </ion-avatar>
          </ion-col>
          <ion-col size="9" class="profile-content">
            <ion-card-header>
              <h1 no-padding no-margin>{{ friend.name }}</h1>
              <p no-padding no-margin>{{ friend.email }}</p>
            </ion-card-header>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>

    <ion-list>
      <ion-list-header color="light" padding-top>
        <h4 no-margin>His Apps</h4>
      </ion-list-header>
        <ion-item
          *ngFor="let app of friend.ApplicationProfileCredential"
          color="light"
        >
        <ion-grid no-padding>
          <ion-row align-items-center>
            <ion-col size="2">
              <ion-avatar>
                <ion-img src="../assets/icon/ela-logo.jpg"></ion-img>
              </ion-avatar>
            </ion-col>
            <ion-col size="8">
              <ion-label>
                <h4>{{ app.appName }}</h4>
              </ion-label>
            </ion-col>
            <ion-col size="2">
              <ion-button (click)="installApp(app)"><ion-icon name="download"></ion-icon></ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>

  </ion-grid>
</ion-content>
