.container {
  background: #fdfeff;
  min-height: 100%;
  padding: 30px 35px;

  ion-input {
    background: #f0f1ff;
    border-radius: 8px;
  }

  .btn-container {
    padding-top: 15px;

    ion-button {
      height: 41px;
      width: 100%;
      --border-radius: 8px;

      ion-label {
        text-transform: none;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: -0.43px;
      }
    }
  }

  .msg-container {
    padding-top: 20px;

    p {
      margin: 0;
      font-size: 12px;
      font-weight: 600;
      color: #161740;
    };
  }
}

.darkContainer {
  background: #191a2f;

  ion-input {
    background: #464660;
  }

  .msg-container {
    p {
      color: #fdfeff;
    };
  }
}
