<ion-content>
  <ion-grid class="container ion-no-padding ion-no-margin" [class.darkContainer]="theme.darkMode">
    <ion-row>
      <ion-input #input autosize placeholder=" Enter Identity" [(ngModel)]="didInput"></ion-input>
    </ion-row>
    <ion-row class="btn-container">
      <ion-button color="success">
        <ion-label>Add Contact</ion-label>
      </ion-button>
    </ion-row>
    <ion-row class="msg-container">
      <p class="ion-text-center">Add contacts by manually entering an Identity or open a QR Scanner above and scan an Identity QR Code</p>
   <!--  <p class="ion-text-center">Add contacts by manually entering an Identity or open a QR Scanner below and scan an Identity QR Code</p> -->
    </ion-row>
  </ion-grid>

<!--   <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="ion-padding-bottom ion-padding-end">
    <ion-fab-button (click)="scanDID()">
      <ion-img src="/assets/buttons/scan.svg"></ion-img>
    </ion-fab-button>
  </ion-fab> -->
</ion-content>
