<ion-content>
  <ion-grid class="container ion-no-padding ion-no-margin" [class.darkContainer]="theme.darkMode">
    <ion-row>
      <ion-input #input autosize placeholder="{{'enter-identity-placeholder'|translate}}" [(ngModel)]="didInput"></ion-input>
    </ion-row>
    <ion-row class="btn-container">
      <ion-button color="success" (click)="addFriend()">
        <ion-label>{{ 'add-contact' | translate }}</ion-label>
      </ion-button>
    </ion-row>
    <ion-row class="msg-container">
      <p class="ion-text-center">{{ 'add-contact-prompt' | translate }}</p>
   <!--  <p class="ion-text-center">Add contacts by manually entering an Identity or open a QR Scanner below and scan an Identity QR Code</p> -->
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="ion-padding-bottom ion-padding-end">
    <ion-fab-button (click)="scanDID()">
      <ion-img *ngIf="theme.darkMode" src="/assets/images/darkmode/scan.svg"></ion-img>
      <ion-img *ngIf="!theme.darkMode" src="/assets/images/scan.svg"></ion-img>
    </ion-fab-button>
  </ion-fab>
</ion-content>
