<ion-content>
  <ion-grid>

    <ion-row class="ion-padding-top">
      <ion-col class="ion-no-padding">
        <img src="assets/images/Local_Data_Delete_Icon.svg">
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-text-center ion-no-padding">
        <h1>Looks like you <br> have no friends!</h1>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col offset="1.25" size="9.5" class="ion-text-center ion-no-padding">
        <p>
          You would need to aquire friends that own a DID (Decentralized ID)
          inside the elastOS ecosystem using their DID QR code or DID address
        </p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col offset="1.25" size="9.5" class="ion-text-center ion-no-padding">
        <p style="margin-top: 0;">
          Once you find a friend, you can follow them here and see their public
          profile and their activity such as the latest elastOS Capsules they are using!
        </p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" class="ion-text-center ion-padding-vertical">
        <did-button
          (click)="addFriend()"
          title="Find Friends"
          textcolor="#ffffff"
          [bgcolor]="'#3ABAFB'"
          [bordercolor]="'#3ABAFB'"
          [borderwidth]="'3px'"
          [shadow]="false"
        >
        </did-button>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
