<ion-grid class="container ion-no-padding ion-no-margin">

  <div>
    <div class="profile-container ion-padding-bottom"m>

      <div class="profile-picture">
        <img *ngIf="didImage" [src]="didImage">
        <img *ngIf="!didImage && didGender === 'male'" src="assets/images/Guy_Face.svg">
        <img *ngIf="!didImage && didGender === 'female'" src="assets/images/DefaultProfileWoman.svg">
        <img *ngIf="!didImage && !didGender" src="assets/images/Guy_Face.svg">
      </div>

      <ion-grid class="model-container">
        <ion-row *ngIf="customName.length < 36" class="profile-name">
          <h1>{{ customName }}</h1>
        </ion-row>
        <ion-row *ngIf="customName.length >= 36">
          <ion-col class="profile-name">
            <h1 class="ion-text-center">
              {{ customName.slice(0,12) }} <br>
              {{ customName.slice(12,25) }} <br>
              {{ customName.slice(25,36) }} <br>
              {{ customName.slice(36,46) }} <br>
            </h1>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="customNote">
          <ion-col class="message ion-no-padding">
            <p class="ion-text-center ion-no-margin">
              {{ customNote }}
            </p>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid class="ion-padding">
        <ion-row>
          <ion-col size="10" offset="1" class="text-area">
            <ion-input
              #input
              autosize
              placeholder="   Custom name"
              clearInput="true"
              [(ngModel)]="customName"
              (ngModelChange)="nameChanged($event)">
            </ion-input>
          </ion-col>
        </ion-row>
        <ion-row class="ion-margin-top">
          <ion-col size="10" offset="1" class="text-area">
            <ion-input
              autosize
              placeholder="   Custom note"
              clearInput="true"
              [(ngModel)]="customNote"
              (ngModelChange)="noteChanged($event)">
            </ion-input>
          </ion-col>
        </ion-row>
        <ion-row class="last-btn">
          <ion-col size="10" offset="1">
            <did-button
              (click)="customDID()"
              title="Confirm Change"
              textcolor="#ffffff"
              [bgcolor]="'#3ABAFB'"
              [bordercolor]="'#3ABAFB'"
              [shadow]="false"
            >
            </did-button>
          </ion-col>
        </ion-row>
      </ion-grid>

    </div>
  </div>

</ion-grid>
