/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

:focus {
  outline: none;
}



@font-face {
  font-family: 'Montserrat';
  font-weight: 300;
  font-style: normal;
  src: url('assets/fonts/montserrat/Montserrat-Light.ttf');
}
@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  font-style: normal;
  src: url('assets/fonts/montserrat/Montserrat-Regular.ttf');
}
@font-face {
  font-family: 'Montserrat';
  font-weight: 500;
  font-style: normal;
  src: url('assets/fonts/montserrat/Montserrat-Medium.ttf');
}
@font-face {
  font-family: 'Montserrat';
  font-weight: 600;
  font-style: normal;
  src: url('assets/fonts/montserrat/Montserrat-SemiBold.ttf');
}
@font-face {
  font-family: 'Montserrat';
  font-weight: 700;
  font-style: normal;
  src: url('assets/fonts/montserrat/Montserrat-Bold.ttf');
}
@font-face {
  font-family: 'Montserrat';
  font-weight: 800;
  font-style: normal;
  src: url('assets/fonts/montserrat/Montserrat-ExtraBold.ttf');
}
@font-face {
  font-family: 'Montserrat';
  font-weight: 900;
  font-style: normal;
  src: url('assets/fonts/montserrat/Montserrat-Black.ttf');
}

* {
  font-family: 'Montserrat' !important;
}

ion-header {
  ion-toolbar {
    padding: 20px 5px 10px !important;

    ion-title {
      font-size: 23px;
      font-weight: 700;
    }

    ion-icon {
      font-size: 26px;
    }
  }
}

.options {
  --height: 120px;
}

.warning {
  ion-backdrop {
    opacity: 0.1 !important;
  }

  .popover-wrapper{
    .popover-content{
      top: 100px !important;
      width: 70vw;
    }
  }
}

._warning {
  ion-backdrop {
    opacity: 0.1 !important;
  }

  .popover-wrapper{
    .popover-content{
      top: 400px !important;
      width: 70vw;
    }
  }
}

.no-friends {
  ion-backdrop {
    opacity: 0.1 !important;
  }

  .popover-wrapper{
    .popover-content{
      top: 50px !important;
      width: 80vw;
    }
  }
}

/* Global Friends List */
.friends-container {
  min-height: 100%;
  background-image: linear-gradient(to bottom, #BFFFD9 0%, #9BDEFF 100%);
  padding-right: 0;
  padding-left: 0;

  ion-list {
    margin-top: 20px;
    padding-top: 0;
    padding-bottom: 0;

    ion-item {
      border-bottom: solid 1px rgb(216, 216, 216);

      ion-col {
        display: flex;
        align-items: center;

        .man-img {
          transform: scale(1.25);
        }

        .woman-img {
          transform: scale(.9);
        }

        ion-label {
          margin: 5px 0 0 5px;

          h4 {
            font-size: 20px;
            font-weight: 600;
            padding: 0;
            margin: 0 0 2px;
          }

          p {
            font-size: 10px !important;
            font-weight: 500;
            color: #3ABAFB !important;
            padding: 0;
            margin: 0;
          }
        }

        ion-icon {
          font-size: 60px;
        }
      }
    }
  }
}
