/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

:focus {
  outline: none;
}

* {
  font-family: 'Raleway', sans-serif;
}

:root {

  ion-tab-button {
    --color-selected: #43e97b;
    --ripple-color: #43e97b;
  }

  ion-tab-button:focus {
    ion-icon, ion-label {
      color: #43e97b !important;
      --ion-color-base: #43e97b!important;
    }
  }
}

ion-header {

  ion-toolbar {
    padding: 20px 5px 10px !important;

    ion-title {
      font-size: 23px;
      font-weight: 700;
    }
  }
}

.warning {
  ion-backdrop {
    opacity: 0.1 !important;
  }

  .popover-wrapper{
    .popover-content{
      top: 125px !important;
      width: 70vw;
    }
  }
}

._warning {
  ion-backdrop {
    opacity: 0.1 !important;
  }

  .popover-wrapper{
    .popover-content{
      top: 425px !important;
      width: 70vw;
    }
  }
}
