.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f0f1ff;
  padding: 24px;
  min-height: 100%;

  .profile-container {
    background: #fafaff;
    border: 1.2px solid #6d74ef;
    border-radius: 12px;

    .img-row {
      display: flex;
      justify-content: center;

      img {
        height: 84px;
        width: 84px;
        margin-top: -42px;
        border-radius: 50%;
        box-shadow: 3px 3px 8px rgba(100,100,100,0.2);
        overflow: hidden;
      }
    }

    .profile-name {
      display: flex;
      justify-content: center;
      align-items: center;

      h1 {
        margin: 15px;
        font-size: 22px;
        font-weight: 600;
        text-align: center;
        color: #161740;
      }
    }

    .message {
      display: flex;
      justify-content: center;
      align-items: center;
      background: #ffffff;
      height: 110px;
      overflow: hidden;

      p {
        font-size: 14px;
        text-align: center;
        color: #161740;
      }
    }

    .btn-row {
      height: 80px;
      display: flex;
      justify-content: space-around;
      align-items: center;

      .btn {
        width: 167px;
        height: 41px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        background-color: #ffffff;

        ion-label {
          font-size: 16px;
          font-weight: 500;
          color: #161740;
        }
      }
    }
  }
}

.darkContainer {
  background: #191a2f;
}
